.inputPassword{
    width: 45px;
    height: 55px;
    margin-right: 30px;
  }
  
  .closeButtonContainer{
    position: absolute;
    right: 20px;
    top: -12px;
  }
  
  .iconeConfirm{
    position: relative;
    left: -23px;
    
  }
  
  .alignCenterButton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
  }
  
  .InputContainer input {
    font-size: 40px;
    background-color: #656982;
    box-sizing: border-box;
    margin-right: 30px;
    border: none;
    border-radius: 3px;
    width: 45px;
    height: 55px;
    padding-top: 20px;
    color: #EFEFEF;
    display: flex; 
    text-align: center;
  }

  .style-confirm {
   font-weight: 500px;
   margin-right: 0;
   position: relative;
   font-size: 9px;
   margin-left: 2px;
   
  }

  