#style-input{
    width: 284;
    height: 40;
    margin-left: -10px;
    align-content: center;
    border-radius: 8px;
    display: flex;
    height: 3px;
}

#style-input::placeholder{
    text-align: center;
    font-size: 18px;

}

