.style-input{
    width: 100%;
    margin-left: -10px;
    align-content: center;
    border-radius: 8px;
    display: flex;
}

.style-input ::placeholder{
    text-align: center;
    font-size: 18px;
}